<h2>Click to Edit</h2>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes" class="col-1-4"
      routerLink="/detail/{{hero.id}}">
    <div class="module hero">
        <img [src]="hero.image" [alt]="hero.name" class="art-image" />
        <h3>{{ hero.name }}</h3>
    </div>
    <div class="art-metadata">
      <ul>
        <li><span style="font-weight: bold">Price: </span>{{ hero.price }}</li>
        <li><span style="font-weight: bold">Artist: </span>{{ hero.artist }}</li>
        <li><span style="font-weight: bold">Gallery: </span>{{ hero.gallery }}</li>
        <li><span style="font-weight: bold">Year Made: </span>{{ hero.yearmade }}</li>
        <li><span style="font-weight: bold">Year Bought: </span>{{ hero.yearbought }}</li>
        <li><span style="font-weight: bold">Medium: </span>{{ hero.medium }}</li>
      </ul>
    </div>
  </a>
</div>
<!-- <div style="display: block">
  <app-hero-search></app-hero-search>
</div> -->

