/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  /* padding-bottom: 30px; */
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a, a:visited {
  color: #444444;
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h2, h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
  min-height: 310px;
}
ul {
  list-style: none;
  list-style-position: inside;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1px;
}
.module {
  /* padding: 20px;ß */
  text-align: center;
  color: #eee;
  /* max-height: 120px; */
  /* min-width: 120px; */
  /* background-color: #3f525c; */
  border-radius: 2px;
}
.module:hover {
  /* background-color: #EEE; */
  cursor: pointer;
  /* color: #607d8b; */
}
img {
  width: 100%;
}
.art-metadata {
  font-size: 0.8em;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
/* @media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
} */
